html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.hide{
    display: none !important;
}


/*---------------------------------------------------------------------------------------------------------*/


/*Game*/

.Game {
    background: url(Images/Background.png) center/cover no-repeat; /* Bron background: https://ledachung.artstation.com/projects/4Jdw1 */
    height: 100vh;
    display: flex; /* Toggle flex to none or none to flex*/
    flex-direction: column;
    position: relative;
}

.Tech {
    position: relative;
    height: 5vh;
    width: 100%;
    margin-bottom: 5vh;
}

.Tech > h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    margin: 0;
    padding: 0 10px;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    border: 3px solid #011627;
}

.Tech > .progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 5vh;
    width: 25vw;
    background-color: white;
    border: 3px solid #011627;
    border-radius: 4px;
    overflow: hidden;
}

.Tech > .progress-bar > .progress-fill {
    height: 100%;
    width: 0%; /* This will be updated dynamically */
    background-color: hotpink; /* Dark color fill */
    transition: width 0.3s ease;
}


.Customers {
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
    z-index: 1;
}

.Order {
    background: white;
    border: 3px solid #011627;
    padding: 1em;
    width: 100px;
    height: fit-content;
    display: none;
}

.Order img {
    width: 100px;
}

.Customers > div {
    position: relative;
    display: flex;
}

.Customers > div > img {
  visibility: hidden;
}

.Counter {
    background-image: url("Images/Black_Wood.jpg"); /* Bron Counter black wood: https://www.amazon.com/SINGULARWOOD-Planks-Panels-Installation-Ebony-Light/dp/B09G2L1SYQ?th=1 */
    height: 30vh;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.stock {
    display: flex;
}

.Counter img {
    width: 100px;
}

.Dienblad {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 50%;
    padding: 10px;
    background: white;
    display: flex;
    justify-content: center;
    border: 3px solid #011627;
}


/*---------------------------------------------------------------------------------------------------------*/

/*Level up screen*/


.LevelScreen{
    display: block; /* Toggle block to none or none to block*/
    background-color: hotpink;
    padding: 80px;
    color: white;
    border: 2px solid black;
    font-weight: bold;
    height: 600px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LevelScreen > h2{
    font-size: 5em;
    margin-top: 20px;

}

.LevelScreen > h3{
    font-size: 5em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.LevelScreen > p{
    font-size: 3em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.LevelScreen > button{
    background-color: Black;
    border: black 2px solid;
    color: white;
    padding: 20px;
    width: 100%;
    margin-top:30%;
    font-size: 1.5em;
}